<!DOCTYPE html>
<html>
{{>head title=this.title subpage='Product' }}

<body>
    {{>header  title=this.title}}

    <main class="main">
        <H1>{{title}}</H1>
        
        <style>
            .product-button-add{
                margin-top: 50px;
            }
        </style>
        <div class="product">
            
             <div class="product-row">
                {{#each product}}
                    <div class="product-col">
                        <img height="100px" src="{{ImgLink}}" class="product-img">
                        <hr/> 
                        <div class="product-body">
                            <H2>{{ProductName}}</H2>
                            <BR>Thông tin sản phẩm
                            <h3 class="info"> - Mã : {{ProductCode}}</h3>
                            <h3 class="info"> - Nhãn Hiệu: {{Brand}} </h3>
                            <H3 class="info"> - Giá: {{Price}} VNĐ</H3>
                        </div>
                        <div class="product-button-buy">
                            <a  href="#" > 
                                <button class="buy-button" > Buy </button>
                            </a>    
                            
                        </div>
                    </div>
                {{/each}}
            </div>

           <div class="footer">
                 {{>footer}}
            </div>

        </div>
        
    </main>
    
<!-- Khai báo trên module trước -->
</body>

<style>
    .main{
        background-color: rgb(255, 255, 255);
    }
    
    .product{
        margin-top: 50px;
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
         
    }
    .product-row{
        display: block;
        margin: 10px;
        width: 100%;
        margin-bottom: 50px ;

    }
    .product-col{
        background: #e2e2e2;
        display: block;
        float: left;
        width: 30.33333%;
        padding: 0 20px;
        margin-right: 20px;
        height: 450px;
        border-radius: 3%;
        border-style:groove; /* tạo  viền cho cột product*/
        margin-bottom: 50px;
        box-shadow: 5px;
    }
     
    .product-img{
        display: block;
        height: 35%;
        margin-left: auto; 
        margin-right: auto;
        box-shadow: 5px  5px;/* hiệu ứng bóng đen cho ảnh*/
        border-radius: 5px;
        
    }

    .product-img{ /* tạo hiệu ứng phóng to cho img */ 
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    }
 
    .product-img:hover {/* tạo hiệu ứng phóng to cho img */
    transform: scale(1.5,1.5);
    -webkit-transform: scale(1.5,1.5);
    -moz-transform: scale(1.5,1.5);
    -o-transform: scale(1.5,1.5);
    -ms-transform: scale(1.5,1.5);
    }
    
    /* tao hover hiệu ứng bóng
    .product-img:hover{
        opacity: 0;
    }*/
    .product-body:hover{
        opacity: 0.9;
    }
    /*/////////////////*/
    .product-body{
         height: 45%;
    }
    .product-body h2{
        font-size: 23px;
    }
    .buy-button{
        font-size: 20px;
        text-align: center;
        width: 100% ;
        background-color:rgb(250, 250, 250);
        border-radius: 5px;
        height: 35px;
    }
     .buy-button:hover{ /* hiệu ứng cho button buy*/
        color: rgb(211, 211, 211);
        background-color: black;
    }
    .info{
        font-size: 12px;
    }
</style>
</html>